body {
    font-family: sans-serif;
}
.link-header{
    border: 6px solid royalblue;
    background-color: royalblue;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

nav{
    padding:40px;
}

nav a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    border: 8px solid blue;
    background-color: blue;
    border-radius: 8px;
}
nav a:hover{
    color: blue;
    background-color: white;
}
h1{
    color: green;
    text-shadow: 0px 20px 10px rgba(29, 115, 115, 0.38);
}
p{
    font-size: 20px;
}
